/* 


Typgraphy


    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 
    / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    font-weight: 
        400
    line-height: 
        1

Colors
    primary-color: 
        #e67e22
    tints: 

    shades:  

    accents: 

    grays: 
        #333

Imgs
    unsplash.com
    faces - uifaces.co

Shadows

Radius

Letter spacing
-0.05rem
0.075rem



White space
    SPACING SYSTEM (px)
        2 / 4 / 8 / 12 / 16 / 24 
        / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
    --line-height: 1;
    --line-height-sm: 0.9;
    --line-height-big: 1.6;

    --font-weight-4: 400;
    --font-weight-5: 500;
    --font-weight-6: 600;
    --font-weight-7: 700;

    --border-radius: 0.8rem;

    --padding-sm: 0.8rem 1.6rem;


    --tint-1: #fdf2e9;
    --tint-2: #fae5d3;
    --tint-3: #eb984e;
    --primary-color: #e67e22;
    --shade-1: #cf711f;
    --shade-2: #45260a;


    --gray-1: #333;
    --gray-2: #555;
    --grau--2-5: #6f6f6f;
    --gray-3: #888;
    --gray-4: #ddd;
    /* #767676 */
    --white: #fff;



    --section-padding: 9.6rem 0;
}

html {
    /* to set 1rem = 10px */
    /* 16px / 10 = 62.5% */
    /* to adjust to user font size */
    font-size: 62.5%;


    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', 'Inter', 'Roboto', sans-serif;
    line-height: var(--line-height);
    font-weight: var(--font-weight-4);
    color: var(--gray-2);

    overflow-x: hidden;

}







/**********************/
/* Reusable components  */
/* **********************/
.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;

}
.grid:not(:last-child){
    margin-bottom: 9.6rem;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols{
    grid-template-columns: repeat(5, 1fr);
}



.grid-center-v{
    align-items: center;
}



.flex{
    display: flex;
}












.heading-primary,
.heading-secondary, 
.heading-tertiary {
    color: var(--gray-1);
    letter-spacing: -0.05rem;
    font-weight: var(--font-weight-7);
    line-height: var(--line-height);

}

.heading-primary {
    font-size: 5.6rem;
    margin-bottom: 3.2rem;
    line-height: 1.05;
}

.heading-secondary {
    font-size: 4.8rem;
    margin-bottom: 9.6rem;
}

.heading-tertiary{
    font-size: 3rem;
    margin-bottom: 3.2rem;
}

.sub-heading {
    display: block;
    color: var(--shade-1);
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: var(--font-weight-5);
    margin-bottom: 2.4rem;

}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 0.8rem;

    /* only necessary for .btn */
    cursor: pointer;
    border: none;
    font-family: inherit;

    font-weight: var(--font-weight-6);

    /* to add hover animation */
    transition: all 0.3s;

}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem #e67e2288;
}


.btn--form{
    background-color: var(--shade-2);
    color: var(--tint-1);
    align-self: end;
        
    padding: 1.2rem;

}
.btn--form:hover{
    background-color: var(--tint-1);
    color: var(--shade-2);
}


.btn--fill:link,
.btn--fill:visited {
    background-color: var(--primary-color);
    color: #fff;
}

.btn--fill:hover,
.btn--fill:active {
    background-color: var(--shade-1);
}

.btn--outline:link,
.btn--outline:visited {
    background-color: #fff;
    color: var(--gray-2);

}

.btn--outline:hover,
.btn--outline:active {
    background-color: var(--tint-1);
    /* to create border
    inset x y blur thickness */
    box-shadow: inset 0 0 0 0.2rem #fff;

}


.link:link, 
.link:visited{
    display: inline-block;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.8rem;
    padding: 0.2rem 0.4rem;

    transition: all 0.3s;

    border-bottom: 0.1rem solid transparent;
}

.link:hover, 
.link:active{
    color: var(--shade-1);
    border-bottom: 0.1rem solid currentColor;

}



.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

}

.list-icon {
    width: 3.6rem;
    height: 3.6rem;
    color: var(--primary-color);
}

.list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
}























.center-text{
    text-align: center !important;
}

.margin-right {
    margin-right: 1.6rem !important;
}
.margin-bottom {
    margin-bottom: 4.8rem !important;
}

strong{
    font-weight: var(--font-weight-5);
}