/* 
1rem == 1em == 16px, in media quieries 
rem and em does not depend on html font-size


FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 
    30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 /
    48 / 64 / 80 / 96 / 128

*/

/**********************/
/* Below 1344px (Smaller desktop)  */
/* **********************/
@media (max-width: 84em){
    .hero{
        max-width: 120rem;
    }
    .heading-primary{
        font-size: 4.8rem;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}



/**********************/
/* Below 1200px  - Tablets in landscape mode*/
/* **********************/
@media (max-width: 75em){
    html{
        /* 9px / 16px = 56.25%*/
        font-size: 56.25%;
    }
    .header{
        padding: 0 3.2rem;
    }
    .grid{
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }
    .heading-secondary{
        font-size: 4rem;
    }
    .heading-tertiary{
        font-size: 2.4rem;
    }
    .main-nav-list{
        gap: 3.2rem;
    }
    .hero{
        gap: 4.8rem;
    }
    .testimonial-container {
        padding: 9.6rem 3.2rem;
    }
    .pricing-plan {
        padding: 4rem;
    }
    

}






/**********************/
/* Below 976px  - Tablets (big) */
/* **********************/
@media (max-width: 61rem) {
    html{
        /* 8px / 16px = 0.5 == 50%*/
        font-size: 50%;
    }
    .hero{
        grid-template-columns: 1fr;
        padding: 0 9.6rem;
        gap: 6.4rem;

    }
    .hero-text-box, 
    .hero-img-box{
        text-align: center;
    }
    .hero-img{
        width: 60%;
    }
    .delivered-meals{
        justify-content: center;
        margin-top: 3.2rem;
    }
    .logos > .logo{
        height: 2.4rem;
    }

    .step-number {
        font-size: 8.6rem;
    }
    .meal-content{
        padding: 3.2rem;
        padding-top: 2.4rem;
    }
    .section-testimonials{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(6, 1fr);
    }
    .pricing-plan {
        width: 80%;
    }
    .cta{
        /* 3/5 = 60%    2/5 = 40$% */
        grid-template-columns: 3fr 2fr;
    }
    .cta-form{
        grid-template-columns: 1fr;
    }
    .btn--form{
        margin-top: 1.2rem;
    }


    /* Mobile nav */
    .btn-mobile-nav{
        display: block;

        z-index: 999;

    }
    .main-nav{
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ffffffee;
        width: 100%;
        height: 100vh;

        transform: translateX(100%);

        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in;

        /* hide the nav */
        /* does not allow transition */
        /* display: none; */

        /* hide */
        opacity: 0;

        /* x accessible */
        pointer-events: none;

        /* hide from screen readers */
        visibility: hidden;

        
    }
    .nav-open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;

        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .main-nav-list{
        flex-direction: column;
        gap: 4.8rem;
    }
    .main-nav-link:link,
    .main-nav-link:visited{
        font-size: 3rem;
    }



}








/**********************/
/* Below 768px  - Tablets */
/* **********************/
@media (max-width: 48em){
    .grid--3-cols,
    .grid--4-cols{
        grid-template-columns: repeat(2, 1fr);
    }
    .diets{
        grid-column: 1 / -1;
        justify-self: center;
    }
    .heading-secondary{
        margin-bottom: 4.8rem;
    }

    .pricing-plan {
        width: 100%;
    }
    .grid--footer{
        grid-template-columns: repeat(6, 1fr);

    }
    .nav-col{
        grid-column: span 2;
        grid-row: 1;

        margin-bottom: 3.2rem;
    }
    .logo-col, 
    .address-col{
        grid-column: span 3;
    }


}





/**********************/
/* Below 608px  - Phones */
/* **********************/
@media (max-width: 34em) {

    .grid{
        row-gap: 4.8rem;
    }

    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols{
        grid-template-columns: 1fr;
    }
    
    .section-hero{
        padding: 2.4rem 0 6.4rem 0;
    }
    .hero{
        padding: 0 2.4rem;
    }
    .hero-img{
        width: 80%;
    }
    .hero-actions{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .hero-actions > a:first-child{
        margin-left: 2.4rem;
        margin-bottom: 0.8rem;
    }

    .delivered-meals{
        display: grid;
        grid-template-columns: 1fr;
    }
    .delivered-imgs{
        justify-content: center;
    }
    .delivered-text{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .btn,
    .btn:link,
    .btn:visited {
        padding: 2.4rem 1.6rem;
    }
    .logos > .logo{
        height: 1.2rem;
    }
    .cta{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr;
    }
    .cta-text-box{
        padding: 3.2rem;
    }
    .cta-img-box{
        grid-row: 1; 

    }



    .step-img-box:nth-child(2) {
        grid-row: 1;
    }

    .step-img-box:nth-child(6) {
        grid-row: 5;
    }

    .step-img-box {
        transform: translateY(2.4rem);
    }

    .testimonials {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
    }
    .heading-primary{
        font-size: 4rem;
    }
    .heading-secondary{
        font-size: 3.2rem;
    }

}